<h1>Transactions for <%= @category.name %></h1>

<p>Total Amount for <%= @category.name %>: <%= number_to_currency(@total_amount) %></p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Amount</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.name %></td>
        <td><%= number_to_currency(transaction.amount) %></td>
        <td><%= transaction.created_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Add a New Transaction", new_category_transaction_path(@category), class: "btn btn-primary" %><br>

<%= link_to "Back to Categories", categories_path %>
